// Header Css
.headerContainer {
    background: linear-gradient(135deg, #34d2eb, #2168db, #6495ed, #4624e0);
    width: 100%;
    height: 20vh;
  }
  .navBar-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: -10px;
  }
  // Footer Css
.footer-container{
  // background: linear-gradient(135deg,#c1c4c4,#757677,#191919 );
  background: rgb(23,38,52);
background: linear-gradient(141deg, rgba(23,38,52,1) 21%, rgba(15,24,32,1) 49%, rgba(11,17,23,1) 76%, rgba(4,4,4,1) 93%);
}