.headerContainer {
    background: linear-gradient(135deg, #34d2eb, #2168db, #6495ed, #4624e0);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    // align-items:;
  }